<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Branch Manager</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/Scripts/libraries")
	</head>
	<body>
		@RenderBody()
		@Scripts.Render("~/Scripts/app")
	</body>
</html>