<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<!-- All settings can be overridden by passing in a kebab-case command line argument -->
	<appSettings>
		<!-- Determines if config is obtained by treating MergeConfig as an SVN path or a file system path -->
		<add key="ConfigIsInSvn" value="false"/>
		<!-- Location of config file -->
		<add key="MergeConfig" value=""/>
		<!-- Target folder for working copies to be checked out into -->
		<add key="MergesFolder" value=""/>
		<!-- SVN authentication credentials. Default credentials used if none provided -->
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<!-- Determines if emails will be sent. This will have no effect if email addresses are not configured in the merge config -->
		<add key="SendEmails" value="false"/>
		<!-- Sets the maximum number of threads to use. Will be unlimited if not a positive integer -->
		<add key="Threads" value="-1"/>
	</appSettings>
	<system.net>
		<!--
			These settings must be configured if sending emails is turned on. See
			https://msdn.microsoft.com/en-us/library/ms164240(v=vs.110).aspx for details.
		-->
		<!-- <mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings> -->
	</system.net>
</configuration>
