<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<appSettings>
		<!-- Determines if config is obtained by treating MergeConfig as an SVN path or a file system path -->
		<add key="ConfigIsInSvn" value="false"/>
		<!-- Location of config file -->
		<add key="MergeConfig" value=""/>
		<!-- Target folder for working copies to be checked out into -->
		<add key="MergesFolder" value=""/>
		<!-- SVN authentication credentials. Default credentials used if none provided -->
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<!-- Sets the maximum number of threads to use. Will be unlimited if not a positive integer -->
		<add key="Threads" value="-1"/>
	</appSettings>
</configuration>
