body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

#left-panel {
	width: 200px;
	height: 100%;
	float: left;
	background-color: #5E7CE8;
	color: white;
	box-shadow: 2px 0 4px #5E7CE8;
}

#tree-container {
	height: 100%;
}

svg {
	height: 100vh;
	width: calc(100vw - 200px);
}

circle {
	fill: #2a34e2;
	r: 4.5;
}

path {
	fill: none;
	stroke: #7eebff;
}

path.disabled {
	stroke-dasharray: 5,5;
}