body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body, html, #container, #app {
	height: 100%;
}

#container {
	font-family: helvetica;
}

/* Left Panel */

#left-panel {
	width: 200px;
	height: 100%;
	float: left;
	background-color: #4A67CE;
	color: white;
	box-shadow: 2px 0 4px #4A67CE;
	position: relative;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.project-list {
	margin: 20px 0;
}

#gradient {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#gradient-input {
	width: 33px;
	margin-right: 2px;
	text-align: center;
	margin-bottom: 10px;
	float: right;
	background: transparent;
	color: white;
	font-size: 16px;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#gradient-input::-webkit-outer-spin-button,
#gradient-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#gradient-display {
	height: 5px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient( to right, #2A27F3, #02AABB 25%, #EFFF00 35%, #D29100 55%, #AD0000 100% );
}

#gradient-label {
	margin-left: 6px;
	position: relative;
	top: 2px;
}

/* Tree */

#tree {
	float: left;
}

#tree .spinner {
	margin: 10px;
	color: #4A67CE;
}

svg {
	height: 100vh;
}

circle {
	fill: #2a34e2;
	r: 4.5;
}

path {
	fill: none;
}

path.disabled {
	stroke-dasharray: 5,5;
}

g {
	cursor: pointer;
}

g.not-exists, path.not-exists {
	opacity: 0.3;
}

path.not-exists {
	stroke: red;
}

g.not-exists circle {
	fill: red;
}

/* Right Panel */

#right-panel {
	width: 200px;
	height: 100%;
	float: left;
	box-shadow: -2px 0 4px #B7B7B7;
	background-color: #F3F3F3;
}

h2 {
	text-align: center;
	padding: 5px 0;
	margin: 0;
	color: white;
	background-color: #4A67CE;
}

/* Misc */

.hidden {
	display: none;
}

.button {
	margin: 5px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10pc;
	text-align: center;
	background-color: #4A5FAB;
	cursor: pointer;
}

.button.active, .button:hover {
	background-color: white;
	color: #4A5FAB;
}